/* Wanted to have each li that's appended to the html
have a solid background to it like the spine of a book would */
/* Employed my knowledge of CSS so far to get my desired results */

body{
    background-color: lightgrey;
}

h1{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#formBox{
    display: flex;
    padding: 20px;
    background-color: grey;
    border: solid black 1px;
    width: 200px;
    margin-left: 50px;
    justify-content: left;
    margin-bottom: 25px;
}

form{
    display: flex;
    color: white;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    flex-direction: column;
    justify-content: center;
}


button{
    margin-top: 10px;
    font-size: small;
    
}

ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

/* CREATE BACKGROUND AND BORDER COLOR FONTS ETC FOR EACH BOOK */
li{
    display: flex;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
    list-style: none;
    background-color: orange;
    border: solid brown 1px;
    box-shadow: 3px 3px grey;
    min-height: 40px;
    padding: 8px;
    min-width: 250px;
    width: 45%;
    margin: 5px;
}
div{
    background-color: antiquewhite;
}

.dropdown {
    display: inline-block;
    position: relative;
  }

  a{
    text-decoration: none;
   display: flex;
   flex-direction: column;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height: 40px;
    
    
  }
  header {
    background-color: red;
    color: azure;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
  }
  header {
    color: white;
    background-color: brown;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
  }
  
  header * {
    display: inline;
  }
  #contactForm{
    display: flex;
    padding: 20px;
    background-color: grey;
    border: solid black 1px;
    width: 200px;
    margin-left: 50px;
    justify-content: left;
    margin-bottom: 25px;
    border: 1px solid black;
  }
  #comments *{
    height: 250px;
    width: 250px;
  }
  #email * {
    width: 350px;
  }
  #formBox{
    display: flex;
    padding: 20px;
    background-color: grey;
    border: solid black 1px;
    width: 200px;
    margin-left: 50px;
    justify-content: left;
    margin-bottom: 25px;
  }
  